<div class="container">
    <!--{{checkCurrentModel}}-->
    <h3>Biodata Form:</h3>
    <form #biodataForm="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" required
                   [(ngModel)]="model.name"
                    ngControl="name" #name="ngForm">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
        </div>
        <div class="form-group">
            <label for="alterEgo">Contact Number</label>
            <input type="text" class="form-control" [(ngModel)]="model.phone" maxlength="10">
        </div>
        <div class="form-group">
            <label for="power">Qualification</label>
            <select class="form-control" [(ngModel)]="model.qualification">
                <option *ngFor="#p of qualifyList" [value]="p">{{p}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default" (click)="saveBiodata()" [disabled]="!biodataForm.form.valid">Submit</button>
    </form>


    <h3>Live view of the form data:</h3>
    <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9  pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Alter Ego</div>
        <div class="col-xs-9 pull-left">{{ model.phone }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Power</div>
        <div class="col-xs-9 pull-left">{{ model.qualification }}</div>
    </div>
<br/>
    <!-- all data listing -->
    <h3>Biodata list:</h3>
    <div *ngIf="allFormData && allFormData === ''" *ngFor="#data of allFormData">
        <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9  pull-left">{{ data.name }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Alter Ego</div>
            <div class="col-xs-9 pull-left">{{ data.phone }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Power</div>
            <div class="col-xs-9 pull-left">{{ data.qualification }}</div>
        </div>
        <br/>
    </div>
</div>